/* ::-webkit-scrollbar {
  display: none;
} */


*{
    font-family: 'Montserrat', sans-serif;
}

.navbar .dropdown .dropdown-toggle::after 
{
    color: #3BBFB3;
}

.navbar .nav-link
{
    color: #071D49;
}

.navbar-toggler{
    border: none !important;
    color: #071D49 !important;
    margin-left:auto !important;
}


.d-flex .touchBtn  
{
    color: #071D49;
    font-size: 13px;
    background: #C5DEF4;
    border-radius: 4px;
    border-color:#C5DEF4
}

.d-flex .touchBtn:hover
{
    color: #071D49;
    font-size: 14px;
    background: #d2e7fa;
    border-radius: 4px;
    border-color:#C5DEF4
}

.subhome-page .subhome-heading
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    color:#071D49 ;  
    letter-spacing: -0.02em;
    
}

#grad1
{
    /* height: 400px; */
    border-radius: 0px 100px 0px 120px;

    padding: 60px 0px 60px 0px;
    background: linear-gradient(180deg, #3BBFB5 0%, #254AA0 53.02%);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -60px ;
    
}


.heading
{
    color:white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 141.9%;
    
}


.para
{
    color:white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.element
{
    color: #254AA0;
    margin-top:37px;
    margin-left: 20px;
}

.head
{
    color: #071D49;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150.9%;
}

.subhead
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160.9%;
}

.list1
{
    font-family:Montserrat;
    font-size:16px;
    font-weight:500;
    border-left: 1px solid #6CACE4;
    margin-top:70px;
}

.img1
{
    /* border-left: 20px solid ; */
    padding-left: 15px;
    border-radius: 120px 4px;
    background: linear-gradient(#3BBFB5, #99CC33 ,#6CACE4) 0 100%;
    /* margin-left:-150px; */
    
}

.img1 img{
    border-radius: 100px 0px;
   
}
.text1
{
    border-top:2px solid #3BBFB5;
    /* border-image-source: linear-gradient(#3BBFB5,#6CACE4); */
}


#grad2
{
    /* height: 400px; */
    border-radius: 110px 0px 125px 0px;
    /* padding: 120px 0px 0px 140px; */
    background: linear-gradient(169.48deg, #254AA0 6.49%, #7355C0 90.04%);
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    
}


.sub-heading
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
}

.heading2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150.9%;
    color: #FFFFFF;

}

.sub-heading2
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160.9%;
    color: #FFFFFF;
}

.contactBtn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF; 
    text-decoration: underline;
    text-decoration-color: #EC388A;
}

.checklist{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #071D49;
}

  /* hr{
    height:2px;
    border-top: none !important;
    background: linear-gradient(#1ea59a 100%,#328edf 100%) !important;
  } */

.list{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160.9%;
    color: #071D49;

}

.certification{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 141.9%;
    text-align: center;
    color: #071D49;

}

.transperfect{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160.9%;
    text-align: center;
    color: #071D49;
}

.Trusted{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 141.9%;
    text-align: center;
    color: #071D49;
}



/* ------cards----- */
.Insight-card-body h2 
{
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #071D49;
  
}

.Insight-card-body p 
{
  color: #071D49;
}

.insight 
{
  background: linear-gradient(180deg, #E2EFFA 5.36%, #DCF3F0 100%);
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 10px;
}

.webinar 
{
  background: linear-gradient(180deg, #E9E2FC 0%, #FBE7F0 100%);
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 10px;
}

.insight-text 
{
  padding: 10px 0px;
}

.working-women-img 
{
  display: none;
}

.card-img-top 
{
  display: block;
}

.news-letter h1 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  letter-spacing: -0.02em;
  /* Primary/Navy */
  color: #071D49;
}

.news-letter p 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  letter-spacing: -0.02em;
  /* Neutrals/Dark Gray */
  color: #666666;
}

.global-in 
{
  padding: 6rem ;
  padding-left: 4rem ;
  background: #EBF1F7;
  line-height: 2rem;
}

.global-in h2
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #071D49;
}

.global-in span 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #071D49;
}

.global-in label 
{
  width: 57px;
  height: 28px;
  text-align: center;
  color: white;
  background: linear-gradient(256.7deg, #254AA0 3.52%, #7356C0 96.14%);
  border-radius: 4px; 
}

.global-in p 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #071D49;
}

.global-in a 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #071D49;
  text-decoration: underline !important;
  text-decoration-color: #93e662 !important;
}

/*------ footer -----*/
.website-footer 
{
  background: #071D49;
}

.search-row 
{
  background: linear-gradient(266.53deg, #99CC33 6.57%, #3BBFB5 92.52%);
  border-radius: 160px;
  padding: 40px 40px;
}

.search-row h3 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #071D49;
  margin-left: 5rem;
}

.search-row p 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #071D49;
  margin-left: 5rem;
}

.tab-only 
{
  display: none;
}

.search-row input
{
  padding: 10px 197px 10px 12px;
}

.web-footer-data h6 
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #3BBFB5;
}

.web-footer-data a 
{
  color: white !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

.web-footer-data p 
{
  color: white !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

.web-footer-data ul li 
{
  color: white !important;
  list-style: none;
  margin-left: -2rem;
  line-height: 2.4rem;
  font-size: 14px;
  font-weight: 500px;
}

.tab-only 
{
  display: none;
}

.mobile-footer 
{
  display: none;
}

.web-footer-data-btn 
{
  background: #EC398A;
  border-radius: 4px;
  color: white;
}

.last-footer-cols 
{
  color: white;
  font-size: 14px;
  text-align: end;
}

.last-footer hr 
{
  color: #3BBFB5;
}

.footer-container
{
  padding-top: 40px;
}

.web-footer-end 
{
  display: flex;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.innovation-gardient 
{
  background: linear-gradient(180deg, #E2EFFA 0%, #DCF3F0 53.02%);
  transform: matrix(1, 0, 0, 1, 0, 0);
  border-radius: 105px 0px 105px 0px;
  padding: 20px 105px;
}

.innovation-padding 
{
  padding: 50px 0px;
}

.section4-border-text 
{
  font-size: 80px;
  color: #DCF3F0;
  text-shadow: -2px 2px 2px #071D49, 2px 2px 2px #071D49, 2px -2px 0 #071D49,
    -2px -2px 0 #071D49;
  margin-top: -20px;
  font-weight: 800;
}

.access1
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #071D49;
  padding: 30px;
}

#border-innovation 
{
  border-top: 1px solid #3BBFB5;
  padding: 50px 0px;
}

.desktop-padding 
{
  padding: 0px 35px;
}

.mobile-padding 
{
  padding: 0px 60px;
}

.access 
{
  font-size: 19px;
  font-weight: 600;
}


/*------------------------------------------------------------------- media query for tablet----------------------- */


@media (min-width: 767.98px) and (max-width: 1200px)
{
 
  
    form i
    {
        margin-right:auto;
    }

    .subhome-page{
      padding: 0px 0px !important;
    }

    .subhome-heading
    {
        font-size: 32px !important;
    }
    
    .d-flex .touchBtn  
    {
      background-color: #254AA0 !important;
      color: white !important;
    }

   
    .col 
    {   
        flex-direction: column;
    }

    h2
    {
        text-align: start !important;
    }
    
    .tabimg
    {
        margin-left: -1px !important;
    }
    
    #grad1
    {
        margin-top: -70px !important;
    }

    .list1
    {
        width: 50%;
        display: none;
    }

    .all-solutions h2
    {
      font-size: 24px !important;
      width: 50% !important;
    }

    .dropdown
    {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        align-items:flex-end;
        margin-top: -40px !important;
    }

    .dropdown .btn
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px;
        gap: 12px;


        width: 218px;
        height: 40px;
        left: 449px;
        top: 1079px;
        background: #254AA0;
        border-radius: 4px;
    }

    .img_list1
    {
        display: flex !important;
        flex-direction: column !important;
    }

    .img_list2
    {
      margin-top: 50px;
      /* margin-left: -180px; */
    }

    .row .col-sm-7
    {
        display: none !important;
    }

    .img2
    {
        display: flex !important;
    }

    .list_div
    {
        padding-top: 0px !important;
    }

    .img-5
    {
        width: 95% !important;
        height: 510px !important;
    }

    .meet
    {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
    
    .logos
    {
        margin-top: 35px !important;
    }

    .logos img
    {
        width:100% !important;
        height: 100% !important;  
    }

    .success-btn
    {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 330px;
        width: 140px;
        margin-top: 35px;
    }

  /* -----------cards--------------- */
    .working-women-img 
    {
      display: block !important;
      padding: 15px 0px;
    }

    .new 
    {
      display: none !important;
    } 

    .news-letter
    {
      padding-left:20px !important;
    }

    .news-letter h1
    {
      font-size: 24px !important;
    }

    .global-in
    {
          padding: 30px 20px !important;
    }

    .percent_div
    {
        margin-left:-230px;
    }

    /* ---------footer--------- */

    .search-row 
    {
        border-radius: 0px !important;
        margin-top: -10px;
        padding: 2rem;
        margin-right: 0px;
    }

      .search-row h3 
      {
        margin-left: 2px !important;
      }

      .search-row p 
      {
        margin-left: 2px !important;
      }

      .tab-only 
      {
        display: block !important;
      }

      .search-row input 
      {
        padding: 0 !important;
        width: 500px !important;
      }

      .web-footer-data .web-img 
      {
        width:140px;
      }
      
      .desktop-footer 
      {
        display: none !important;
      }
      
      .mobile-footer 
      {
        padding-left: 20px;
        display: block !important;
      }  

      .web-footer-end 
      {
        display: flex !important;
        padding: 42px 120px!important;
      }  

      .footer-container
      {
        padding: 0px !important;
       
      }

      .mobile-footer-div
      {
        display: flex !important;
        flex-direction: row !important;
      }

      .container, .container-md, .container-sm 
      {
        max-width: 912px !important;
      }


      
      .innovation-gardient 
      {
        padding: 82px 44px;
      }

      .innovation-padding
      {
        padding: 0px !important;
      }

      .innovation-padding .innovation-text-size 
      {
        padding-top: 20px;
        font-size: 24px !important;
      }

      .section4-border-text 
      {
        font-size: 80px;
        margin-top: -20px;
        font-weight: 800;
      }

      .percent2 
      {
        overflow-x: scroll;
      }
    
     .percent2::-webkit-scrollbar 
      {
        background: #3BBFB5;
        border-radius: 10px;
        height: 3px;
      }
      .percent2::-webkit-scrollbar-thumb 
      {
        border-radius: 10px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(95, 211, 240, 0.3); */
        background-color: #0E867C;
      }

      .percent2::-webkit-scrollbar-track 
      {
        border-radius: 10px;
        height: 1px !important;
        background-color: #3BBFB5;
        min-height: 40px;
      }

      .border-innovation 
      {
        border-top: 1px solid #000;
        padding: 50px 0px;
      }

      #border-innovation 
      {
        border-top: 1px solid #000;
      }

      .desktop-padding 
      {
        padding: 0px 35px;
      }

      .mobile-padding 
      {
        padding: 0px 45px;
      }

      .access {
        font-size: 22px;
        font-weight: 600;
      }

      .percent{
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
      }

      .access1
      {
        margin-top: -30px;
        /* margin-bottom: -30px; */
      }
}




/* ----------------------------------------------media query for mobile--------------------------------- */
@media screen and (max-width:576px) 
{
  
    .list1
    {
        width: 50%;
        display: none;
    }
    .checklist
    {
      font-size: 24px !important;
    }

    .subhome-page{
      padding: 0px 0px !important;
    }
    
    .subhome-heading
    {
        padding-left:40px !important;
        font-size: 32px !important;
    }

    .tabimg
    {
        margin-left: -0px !important;
    }

    #grad1
    {
        margin-top: -100px !important;
    }

    .d-flex .touchBtn 
    {
        display: none;
    }

    .all-solutions h2
    {
      font-size: 24px !important;
      text-align: start !important;
      padding-left: 10px;
    }

    .dropdown
    {
        display: flex !important;
        

        margin: auto;
    }

    .dropdown .btn
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px;
        gap: 12px;

     
        width: 218px;
        height: 40px;
        left: 449px;
        top: 1079px;

        /* Royal Blue */

        background: #254AA0;
        border-radius: 4px;
    }

    .img_list2
    {
        display: flex !important;
        flex-direction: column !important;
        padding-right: 0px !important;
        /* margin-top: 150px; */
        /* margin-left: -250px; */
    }
   
    .img1
    {
        border-radius: 80px 4px 0px;
        background: linear-gradient(#3BBFB5, #99CC33 ,#6CACE4) 0 100%;
    }
    
    .img1 img
    {
        width: 100% !important;
        height: 150px !important;
       border-radius: 90px 4px 0px;
    }

    .text1
    {
        margin-top: 10px;
        border: none !important;
    }

    .row .col-sm-7
    {
        display: none !important;
    }

    .img2
    {
        display: flex !important;
    }

    .img2 img
    {
        width: 100% !important;
        height: 100% !important;
    }

    .img-5_div
    {
        z-index: -1;
    }

    .img-5
    {
        width: 100% !important;
        height: 396px !important;
        margin-top: -100px;
    }

    .list_div
    {
        padding-top: 0px !important;
    }

    .list2
    {
        opacity: 0.2;
    }

    .desktop_list
    {
        display: none !important;
    }

    .mobile_list
    {
        display: flex !important;
    }

    .meet
    {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }

    .seeMore-btn
    {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        width: 130px;   
    }

    .logos img
    {
        width:100% !important;
        height: 100% !important;
        margin-left:-20px;
    }

    .success-btn
    {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 130px;
        width: 140px;
        margin-top: 35px;
    }
   
    /* ----------------------------------------- */
    .working-women-img 
    {
        display: none !important;
    }

    .card-img-top 
    {
        display: block;
    }

    .news-letter
    {
            padding-left:20px !important;
    }

    .news-letter h1
    {
        font-size: 24px !important;
    }

    .global-in
    {
            /* padding-left: 2px !important; */
            padding: 30px 20px !important;
            
    }

    
    /* ---------------footer------------------------- */
    .search-row 
    {
        border-radius: 0px !important;
        margin-top: -10px;
        padding: 1rem !important;
       margin-right: 0px;
    }

      .search-row h3 
      {
        margin-left: 2px !important;
      }

      .search-row p 
      {
        margin-left: 2px !important;
      }

      .tab-only
      {
        display: block !important;
      }

      .search-row input 
      {
        padding: 0 !important;
        width: 190px !important;
      }

      .web-footer-data .web-img 
      {
        width: 25%;
      }

      .desktop-footer 
      {
        display: none !important;
      }

      .mobile-footer 
      {
        display: block !important;
      }  

      .web-footer-end 
      {
        display: flex !important;
      }  

      .footer-container
      {
        padding-top:0px !important;
      }
    



      .innovation-gardient 
      {
        border-radius: 105px 0px 105px 0px;
        padding: 70px 15px;
      }

      .innovation-padding .innovation-text-size 
      {
        font-size: 24px !important;
        font-weight: 700 !important;
      }

      .section4-border-text 
      {
        font-size: 80px;
        margin-top: -20px;
        font-weight: 800;
      }

      .percent2 
      {
        display: flex;
        flex-direction: column !important;
      }
  
      .percent2 
      {
        overflow-x: scroll;
      }

      .percent2::-webkit-scrollbar 
      {
        background: #3BBFB5;
        border-radius: 10px;
        height: 3px;
      }

      .percent2::-webkit-scrollbar-thumb 
      {
        border-radius: 10px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(95, 211, 240, 0.3); */
        background-color: #0E867C;
      }

      .percent2::-webkit-scrollbar-track 
      {
        border-radius: 10px;
        height: 1px !important;
        background-color: #3BBFB5;
        min-height: 40px;
      }

      .percent2::-webkit-scrollbar 
      {
        background: #3BBFB5;
        border-radius: 10px;
        height: 2px !important;
      }

      #border-innovation 
      {
        border-top: 1px solid #000;
      }

      .desktop-padding 
      {
        padding: 0px 25px;
      }

      .mobile-padding 
      {
        padding: 10px 25px;
      }

      #faster
      {
        padding-left: 65px !important;
      }
      
      .access1
      {
        padding: 0px !important;
      }

      .access 
      {
        font-size: 18px;
        font-weight: 700;
      }

      .percent{
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
      }
}
